FirstConsolAppCore/.vs/FirstConsolAppCore/v15/Server/sqlite3/storage.ide-shm
FirstConsolAppCore/.vs/FirstConsolAppCore/v15/Server/sqlite3/storage.ide
FirstConsolAppCore/.vs/FirstConsolAppCore/DesignTimeBuild/.dtbcache
FirstConsolAppCore/.vs/FirstConsolAppCore/v15/Server/sqlite3/storage.ide-wal
FirstConsolAppCore/.vs/FirstConsolAppCore/v15/Server/sqlite3/db.lock
